@charset "utf-8";
/**
 * adaptivethemes.com 
 *
 * @file base-rtl.css
 */
.two-sidebars .content-inner {
margin:0 240px;
}

.sidebar-left .content-inner {
margin-left:240px;
}

.sidebar-right .content-inner {
margin-left:240px;
margin-right:0;
}

#sidebar-first {
width:240px;
margin-right:-100%;
margin-left:0;
}

#sidebar-last {
width:240px;
margin-right:-240px;
margin-left:0;
}

/* Containers and helpers. */
#container,.block {
zoom:1;
}

#content-column {
position:relative;
}

#sidebar-first,#sidebar-last {
position:relative;
z-index:1000;
}

/**
 * Master reset for browsers and Drupal.
 */
.show-skip-link {
text-align:left;
}

.show-on-focus a:active,.show-on-focus a:focus {
left:0;
right:auto;
}

blockquote {
margin:0 0 1.5em;
padding:0 3em 0 0;
}

#forum table {
clear:both;
}

#forum tr td.forum {
background-position:98% 5px;
padding-right:1.67em;
}

#forum tr td.forum .name {
padding-right:.375em;
}

#forum div.indent {
margin-right:.5em;
}

div.messages ul {
margin:0 1.25em 0 0;
}

div.error {
background:#FFF3F6 url(core-images/status-error.png) no-repeat 99% .45em;
}

div.status {
background:#F1FFCF url(core-images/status-ok.png) no-repeat 99% .6em;
}

div.help {
background:#F7F8F8 url(core-images/status-info.png) no-repeat 99% .45em;
}

div.warning {
background:#FFF6DF url(core-images/status-warning.png) no-repeat 99% .45em;
}

div.messages,div.warning,div.help,div.status,div.error {
padding:.6em 3em .6em 1em;
}

.update .info {
padding:0 1em 0 0;
}

.indented {
margin-right:60px;
}

.article-unpublished .unpublished,.comment-unpublished .unpublished {
margin-left:0;
padding-left:0;
margin-right:.5em;
padding-right:18px;
}

div#acquia-agent-no-search {
padding-left:1em !important;
padding-right:3em !important;
}

.block ul {
padding:0 1.25em 0.25em 0;
}

.tips {
margin-right:3em;
padding:.1875em 1.5em .1875em .375em;
}

fieldset legend {
padding:0 0 0 1em;
}

#user-login-form li.openid-link a,#user-login li.openid-link a {
background:transparent url(core-images/openid.png) no-repeat 100% 0;
padding:0 20px;
}

.admin-panel h3 {
padding:0 .5em 0 0;
}

#permissions td.permission {
padding-left:.5em;
}

ul.primary {
padding:0 .3em .2em 0;
}

ul.primary li a {
margin-right:0;
margin-left:.08em;
padding:0.2em 0.75em 0.25em;
}

.local-tasks ul.primary li a:hover {
background-color:#F7F7F7;
border-color:#DDD;
}

.local-tasks ul.primary li.active a {
background-color:#FFF;
border-bottom-color:#FFF;
}

ul.secondary {
border-bottom:1px solid #CCC;
margin:1em 0 0;
padding:0 .3em 1em;
}

ul.secondary li {
border-right:0;
list-style:none;
padding:0 2em 0 0;
}

/* Style edit links for blocks and views. */
div.block-edit-links .edit-links {
left:15px;
right:auto;
}

#block-user-0 label.overlabel-apply {
margin-left:0;
margin-right:.375em;
}

.at-horizontal-login #user-login-form li a {
padding:0 0 0 .75em;
}

.at-inline-menu ul.menu li a {
padding:0 .5em;
}

#node-form .node-col-last .buttons #edit-submit,#node-form .node-col-last .buttons #edit-preview,#node-form .node-col-last .buttons #edit-delete {
margin:2px 0 2px 2px;
}

.block-at-admin legend {
margin:0 0 0 -10px;
}

.at-admin-block-edit-links {
float:left;
padding:0 0 3px 3px;
}

.block-at-admin fieldset {
margin-right:0.5em;
}

div.block div.block-edit {
top:10px;
left:15px;
right:auto;
}

.grid-1,.grid-2,.grid-3,.grid-4-12,.grid-4-16,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,.grid-13,.grid-14,.grid-15,.grid-16,#content-column,#sidebar-first,#sidebar-last,.at-horizontal-login .form-item,.at-horizontal-login .form-submit,.at-horizontal-login#user-login-form ul,.at-horizontal-login #user-login-form ul li,.at-horizontal-login label,.at-inline-menu ul.menu li,.at-multicolumn-menu .content ul li,#node-form .node-col-first {
float:right;
}

ul,ol,dd {
margin:0 1.667em 1.5em 0;
}

ul ul,ul ol,ol ol,ol ul,.block ul ul,.block ul ol,.block ol ol,.block ol ul,.item-list ul ul,.item-list ul ol,.item-list ol ol,.item-list ol ul,.item-list ul,.item-list ol {
margin:0 1.667em 0 0;
}

.admin-panel dd,.at-multicolumn-menu .content ul li.expanded ul {
margin-right:0;
}

caption, th, td, .at-horizontal-login #user-login-form {
text-align:right;
}

#node-form .node-col-last,.block-at-admin h2 span {
float:left;
}